{% extends "title.html" %}
{% block content %}

<div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #mapContainer {
            position: relative;
            width: 100%;
            height: 700px;
        }
        #map {
            width: 100%;
            height: 100%;
        }
        #findLocationBtn {
            background-color: #0A94DB; /* Blue */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 20px auto; /* Margin top and auto horizontal */
            display: block; /* Make the button a block element */
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }
        #findLocationBtn:hover {
            background-color: #0056b3; /* Darker blue */
        }
    </style>

    <div id="mapContainer">
        <div id="map"></div>
        <button id="findLocationBtn" onclick="locateUser()">Find My Location</button>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="https://unpkg.com/leaflet-search"></script>

<script>
    var map = L.map('map').setView([51.505, -0.09], 13); // Setting the default position and zoom level

    // Tile layer: OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Add Search Controller

    var searchControl = new L.Control.Search({
        url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
        jsonpParam: 'json_callback',
        propertyName: 'display_name',
        propertyLoc: ['lat', 'lon'],
        marker: L.marker([], {}),
        autoCollapse: true,
        autoType: false,
        minLength: 2
    });


    searchControl.on('results', function(data) {
        var firstResult = data.results[0];
        if (firstResult) {
            map.setView(firstResult.center, 18); // Zoom and position the map based on search results
            L.marker(firstResult.center).addTo(map)
                .bindPopup("You selected: " + firstResult.label).openPopup();
        }
    });

    map.addControl(searchControl);

    // Define the processing function when the position is found
    function onLocationFound(e) {
        var radius = e.accuracy / 2; // radius

        L.marker(e.latlng).addTo(map)
            .bindPopup("You are within " + radius + " meters from this point").openPopup();

        L.circle(e.latlng, radius).addTo(map);
    }

    // Define the processing function when the position error occurs
    function onLocationError(e) {
        alert(e.message);
    }

    // User manually triggers positioning
    function locateUser() {
        map.locate({setView: true, maxZoom: 16});
    }

    // Added fetch to get location data from the backend and display it on the map
    function fetchGamesAndMarkOnMap() {
        fetch('/get-locations')
        .then(response => response.json())
        .then(locations => {
            locations.forEach(loc => {
                var popupContent = `<a href="/game_details/${loc.game_id}" target="_blank">${loc.game_name}</a>- ${loc.address}`;

                var marker = L.marker([loc.lat, loc.lon]).addTo(map);
                marker.bindPopup(popupContent);
            });
        })
        .catch(error => console.error('Error fetching locations:', error));
    }

    // Call function to ensure loading location
    fetchGamesAndMarkOnMap();

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

</script>

{% endblock %}