           <!-- section start -->
		<section class="default-bg secPadding">

        <div class="container">

          <div class="row">
            <div class='col-md-offset-2 col-md-8 text-center'>
            <h2>HoopLife</h2>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#quote-carousel" data-slide-to="1"></li>
                  <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="{{ url_for('static', filename='data/images/kobe.jpg')}}" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>"Have a good time.Enjoy life.
                    Life is too short to get bogged down
                    and be discouraged.You have to
                    keep moving.You have to keep going.
                    Put one foot in front of the other,smile,
                    and just keep on rolling.
                  </p>
                  <small>Kobe Bryant</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="{{ url_for('static', filename='data/images/irving.jpg')}}" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Basketball isn't game. It's an art form. You master the fundamentals, so you can forget them, so you can improvise and concentrate on what really matters: Getting buckets</p>
                  <small>Kyrie Irving</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="{{ url_for('static', filename='data/images/jordan.png')}}" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>I've missed more than 9000
                    shots in my career.I've lost
                    almost 300 games.26 times,
                    I've been trusted to take the
                    game-winning shot and
                    missed.I've failed over and
                    over and over again in my
                    life.And that is why I
                    succeed.
                    </p>
                  <small>Michael Jordan</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
		</section>
		<!-- section end -->